.ant-form-item {
  margin-bottom: 5px;
}
.ant-form-item-control {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.ant-form-item-children {
  margin-right: 10px;
}
.tit {
  display: flex;
  align-items: center;
}
.tit label{
  font-size: 20px;
  color: #666;
  font-weight: bold;
}
.tit .ant-form-item-children {
  width: 100%;
}
.hr {
  width: 100%;
  height: 1px;
  background-color: #0085ff;
}